:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vh;
    font-family: sans-serif;
}

body {
    background: var(--nord6);
}

header {
    align-items: center;
    background: var(--nord0);
    color: var(--nord6);
    display: flex;
    height: 4rem;
    justify-content: center;
}

header h1 {
    font-size: 2rem;
}

.wrapper {
    background: var(--nord0);
    margin: 2rem 2rem 2rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
    height: 38rem;
}

.wrapper form {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    height: 2rem;
}

.wrapper form input {
    background: var(--nord6);
    color: var(--nord0);
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    margin: 0rem 0.5rem 0rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.wrapper form input::placeholder {
    color: var(--nord3);
}

.wrapper form input:focus {
    outline: none;
}

.wrapper form select {
    background: var(--nord6);
    color: var(--nord0);
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0rem 0.5rem 0rem 0.5rem;
    width: 15%
}

.wrapper form button {
    background: var(--nord6);
    color: var(--nord0);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0rem 0rem 0rem 0.5rem;
    width: 10%
}

.wrapper pre {
    background: var(--nord6);
    overflow: auto;
    height: 33rem;
}

footer {
    align-items: center;
    background: var(--nord0);
    color: var(--nord6);
    display: flex;
    height: 4rem;
    justify-content: space-around;
}

footer a {
    font-size: 1rem;
    align-items: center;
}

footer a img {
    height: 2rem;
}
