:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vh;
    font-family: sans-serif;
}

.light {
    background: var(--nord6)
}

.dark {
    background: var(--nord0);
}

header {
    align-items: center;
    background: var(--nord0);
    color: var(--nord6);
    display: flex;
    height: 4rem;
    justify-content: center;
}

header a {
    text-decoration: none;
}

header h1 {
    color: var(--nord6);
    font-size: 2rem;
}

.light .wrapper {
    background: var(--nord0);
    height: 38rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.dark .wrapper {
    background: var(--nord6);
    height: 38rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.wrapper form {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.light .wrapper form input {
    background: var(--nord6);
    color: var(--nord0);
    border: none;
    font-weight: bold;
    outline: none;
    width: 100%;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.dark .wrapper form input {
    background: var(--nord0);
    color: var(--nord6);
    border: none;
    font-weight: bold;
    outline: none;
    width: 100%;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.light .wrapper form input::placeholder {
    color: var(--nord2);
}

.dark .wrapper form input::placeholder {
    color: var(--nord4);
}

.wrapper form input:focus {
    outline: none;
}

.light .wrapper form select {
    background: var(--nord6);
    color: var(--nord0);
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0rem 0.5rem 0rem 0.5rem;
    width: 15%
}

.dark .wrapper form select {
    background: var(--nord0);
    color: var(--nord6);
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0rem 0.5rem 0rem 0.5rem;
    width: 15%
}

.light .wrapper form button {
    background: var(--nord6);
    color: var(--nord0);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0rem 0rem 0rem 0.5rem;
    width: 10%
}

.dark .wrapper form button {
    background: var(--nord0);
    color: var(--nord6);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0rem 0rem 0rem 0.5rem;
    width: 10%
}

.light .wrapper pre {
    background: var(--nord6);
    color: var(--nord0);
    height: 33rem;
    overflow: auto;
}

.dark .wrapper pre {
    background: var(--nord0);
    color: var(--nord6);
    height: 33rem;
    overflow: auto;
}

.wrapper .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2rem;
    margin-top: 1rem;
}

.wrapper .options div {
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.wrapper .options div img {
    height: 100%;
}

footer {
    align-items: center;
    background: var(--nord0);
    color: var(--nord6);
    display: flex;
    height: 4rem;
    justify-content: space-around;
}

footer a {
    font-size: 1rem;
    align-items: center;
}

footer a img {
    height: 2rem;
    width: 2rem;
}

footer .darkmode-btn {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .darkmode-btn img {
    height: 2rem;
    width: 2rem;
}

.light .wrapper-err {
    background: var(--nord6);
    height: 38rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dark .wrapper-err {
    background: var(--nord0);
    height: 38rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.light .status {
    color: var(--nord0);
    font-size: 12rem;
}

.dark .status {
    color: var(--nord6);
    font-size: 12rem;
}

.light .error {
    color: var(--nord0);
    font-size: 4rem;
}

.dark .error {
    color: var(--nord6);
    font-size: 4rem;
}
