@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
}

h2 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 72px;
}

h3 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
}

.logo {
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr;
    grid-template-areas:
    "containerBar"
    "containerPre";
    margin: 1%;
    border: solid;
}

.containerBar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "itemTextarea containerParams itemButton"
    "itemTextarea containerParams itemButton";
    grid-area: containerBar;
    margin: fill;
    background-color: white;
    border: solid;
}

.itemTextarea {
    grid-area: itemTextarea;
    margin: auto;
}

textarea {
    resize: none;
    font-size: 1em;
    font-family: Montserrat, sans-serif;
}

.containerParams {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "itemSelect"
    "itemRadio";
    grid-area: containerParams;
    font-family: Montserrat, sans-serif;
}

.itemSelect {
    grid-area: itemSelect;
    margin: auto;
}

.itemRadio {
    grid-area: itemRadio;
    margin: auto;
}

.itemButton {
    grid-area: itemButton;
    margin: auto;
}

.containerPre {
    grid-area: containerPre;
    overflow: auto;
    height: 624px;
    padding-left: 1%;
    word-break: normal !important;
    word-wrap: normal !important;
    background-color: white;
    border: solid;
}
