<!DOCTYPE html>
<html lang="en">
<head>
    <title>ascii-art-web</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="media/favicon.ico" type="image/x-icon">
</head>
<body>
<h1>
    <img class="logo" src="media/logo.png" height="50" width="50">
    ascii-art-web
</h1>

<form method="post">
    <div class="grid-container">
        <div class="containerBar">
            <div class="itemTextarea">
                <textarea cols="96" rows="5" name="text" placeholder="Type your text here...">{{.Text}}</textarea>
            </div>
            <div class="containerParams">
                <div class="itemSelect">
                    <select name="banner">
                        <option value="standard">standard</option>
                        <option value="shadow">shadow</option>
                        <option value="thinkertoy">thinkertoy</option>
                        <option value="doom">doom</option>
                    </select>
                </div>
                <div class="itemRadio">
                    <input type="radio" id="show" name="mode" value="show" checked>
                    <label for="show">Show</label>
                    <br>
                    <input type="radio" id="download" name="mode" value="download">
                    <label for="download">Download</label>
                </div>
            </div>
            <div class="itemButton">
                <button>Convert</button>
            </div>
        </div>
        <div class="containerPre">
            <pre>{{.Result}}</pre>
        </div>
    </div>
</form>

</body>
</html>
